#movie-search {
    color: blue;
    //float: right;
    text-align: center;
    margin-top: 15px;
    input[type="text"] {
        height: 25px;
    }
    button {
        height: 25px;
    }
}

#find-movie {
    width: 40%;
}